<script>setInterval(reload_dialog, 5000);</script>
<table>
	<tr id="chat">
	</tr>
	<tr>
		<table border="2">
<div align="center">
<td> 
<div style="width: 500px;" align="center">
   <textarea onkeypress='if(event.keyCode == 13){send();event.preventDefault()}' name="text" placeholder="Сообщение" id="text" cols="40" rows="3"></textarea></p>
    <p><input onclick="send();" type="button" value="Отправить"></p>
   </div>
 </td>

</table>
	</tr>
</table>