<table>
	<tr>
		<input type="text" id="find" /> <button type="button" onclick="find();" >Искать</button>
	</tr>
	<tr>
		<td id="find_info"><div></div>
		</td>
		<td id="find_btn">
			<div></div>
		</td>
	</tr>
</teable>