<form action="core.php?PHPfunc=login" method="post">
	<p>E-mail:<input type="text" name="email" value=""></p>
	<p>Password:<input type="password" name="password" value=""></p>
	<p><input type="submit" value="Войти"></p>
</form>
<div align="left"><a onclick="Forget()">Забыли пароль</a></div>