<p><button onclick="Main();">Моя страница</button></p>
<p><button onclick="changeContent('find.html');">Поиск людей</button></p>
<p><button onclick="dialog_list();">Диалоги</button></p>
<br>
<p><button onclick="Logout();">Выход</button></p>