<form action="core.php?PHPfunc=register" method="post">
	<p>E-mail:<input type="text" name="email" value=""></p>
	<p>Password:<input type="password" name="password" value=""></p>
	<p>Имя::<input type="text" name="name" value=""></p>
	<p>Фамилия:<input type="text" name="surname" value=""></p>
	<p>О себе:<textarea name="about"></textarea></p>
	<p><input type="submit" value="Продолжить"></p>
</form>